{% extends 'login/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">Disable User</h4>
                </div>
                <div class="card-body">
                    <p class="mb-4">Are you sure you want to disable the following user?</p>
                    
                    <div class="mb-4">
                        <h5>User Details:</h5>
                        <dl class="row">
                            <dt class="col-sm-4">Name:</dt>
                            <dd class="col-sm-8">{{ user.name }}</dd>
                            
                            <dt class="col-sm-4">Employee ID:</dt>
                            <dd class="col-sm-8">{{ user.employee_id }}</dd>
                            
                            <dt class="col-sm-4">Department:</dt>
                            <dd class="col-sm-8">{{ user.department|default:"-" }}</dd>
                            
                            <dt class="col-sm-4">Admin State:</dt>
                            <dd class="col-sm-8">
                                <span class="badge 
                                    {% if user.admin_state == 'yes' %}bg-primary
                                    {% elif user.admin_state == 'no' %}bg-info
                                    {% else %}bg-secondary{% endif %}">
                                    {% if user.admin_state == '-' %}Normal
                                    {% elif user.admin_state == 'yes' %}Admin
                                    {% else %}Limited Admin{% endif %}
                                </span>
                            </dd>
                        </dl>
                    </div>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'login:user_list' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-user-slash"></i> Disable User
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 